// Place all the styles related to the email controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.je_tente {
  width: 200px;
  float: left;
}

.rouge {
  color:red;
}

.bleu {
  color: #157ffb;
}

li {
  list-style-type: none
}

.gras {
  font-weight: bold;
}

span {
  text-decoration: underline;
}
